<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SchoolCoin APP</title>
</head>
<body>

<table id="nav-menu" width="100%">
    <tr>
        <td align="center">
            <table>
                <tr>
                    <td>Меню -></td>
                    <td><a th:href="@{/}">Домой</a></td>
                    <td><a th:href="@{/grades}">Оценки</a></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN','PARENT')"><a th:href="@{/users}">Пользователи</a></td>
                    <td></td>
                </tr>
            </table>
        </td>
        <td align="right">
            <div sec:authorize="isAuthenticated()">
                <div>
                    Привет, <a th:href="@{/users/profile}"><span sec:authentication="principal.username"></span>
                </div>
                <div>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <div>
                    Привет, пожалуйста <a th:href="@{/login}">Login</a>
                </div>
            </div>
        </td>
    </tr>
</table>

</body>
</html>