<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h1>Профиль</h1>
<form th:action="@{/users/profile}" th:object="${user}" method="post">
    <table border="1">
        <tr>
            <td>Имя</td>
            <td><input type="text" readonly th:field="*{username}"></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>Повторить пароль</td>
            <td><input type="password" th:field="*{matchingPassword}"></td>
        </tr>

    </table>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>